{% extends 'base.html' %}

{% block title %}
{{ block.super }} - Войти
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 mt-5 form-layout">

            <h3> Войти в аккаунт </h3>

            <hr>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.username|as_crispy_field}}

                <br>

                {{form.password|as_crispy_field}}

                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Войти &nbsp; <i class="fa fa-key" aria-hidden="true"></i> </button>


            </form>

            <br>

            <div class="text-center">

                <p> Нет аккаунта? </p> <a href="{% url 'register' %}"> Зарегистрироваться </a>

            </div>


        </div>

        <br>

    </body>

{% endblock %}







