{% extends 'base.html' %}

{% block title %}
{{ block.super }} - Регистрация
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 mt-3 form-layout">

            <h3> Создать аккаунт </h3>

            <hr>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.username|as_crispy_field}}

                <br>

                {{form.password1|as_crispy_field}}

                <br>

                {{form.password2|as_crispy_field}}

                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Создать аккаунт &nbsp; <i class="fa fa-user" aria-hidden="true"></i> </button>


            </form>

            <br>

            <div class="text-center">

                <p> Уже зарегистрированы? </p> <a href="{% url 'my_login' %}"> Войти </a>

            </div>


        </div>

    </body>


{% endblock %}